
#routerView{margin-top:55px}

#saveBtn{
    background-color: #bd467e;
    color: white;
    cursor: pointer;
}

/* quize css */
#quiz{
    width: 100%;
    height: 100vh;
    color: white;
    background-repeat: no-repeat;
    background-image: url("../images/quizpromo_desktop.jpg");
}
#quiz h2{
    margin-top: 225px;
    font-size: 40px;
}
#quiz .playBtn,#mainVideo div button{
    background-color: #bd467e;
    color: white;
}


/*--------------------Home Page CSS-----------------------*/
#promo{
    background-image: url('../images/promo_desktop.jpg');
    /* height: 603px; */
    color: white;
    background-repeat: no-repeat;
}
#promo h2{
    background-color:#bd467e;
}

#text{
    margin-top: 400px;
}

#promo a:link {
    color: #e8a5c4;
}

#promo a:hover {
    color: #bd467e;
}

#adds{
    background: #ededed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#adds p{
    margin-top: 40px;
}
#content{
    background: #013d7b;
    padding: 20px;
    color: white;
}

/*---------------------Video Page CSS-------------------------*/

#mainVideo div{
    padding-top: 50px;
    padding-bottom: 50px;
    background: #ededed;
}

#moreVideo div{
    padding-top: 50px;
    padding-bottom: 50px;
}
#moreVideo{
    background:#bd467e;
}

#moreVideo p{
    color: white;
}
#contactStory{
    padding-top: 50px;
    padding-bottom: 50px;
    background: #ededed;
}
#shareHead{
    color: White;
    background: #013d7b;
}

.contactBtn{
    color: white;
    background: #a787b8;
}

